<h1>Change Password</h1>
<%= form_tag "/passwords/update", method: :patch do %>
  <%= text_field_tag :password, placeholder: 'New Password' %><br>
  <%= text_field_tag :password_confirmation, placeholder: 'Confirm New Password' %><br>
  <%= submit_tag 'Update Password' %>
<% end %>
